@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    font-family: "Relaway", Tahoma, Arial, sans-serif;
}

html {
    background-color: #bd87c1;
}

body {
    font-size: 0.9em;
    width: 100%;
    display: flex;
    
}

/*Navbar Lateral*/

nav {
    background-color: #47005e;
    margin: 1em;
    /* width: 20%; */
    color: #fff;
    font-size: 0.8em;
    /* height: 100vh; */
    border-radius: 1em;
    width: 100%; /* Modificado */
  max-width: 300px; /* Añadido */
  height: auto; /* Modificado */

}

nav .logo {
    width: 10em;
    margin: 1em;
}

nav .options {
    margin: 1em;
}

nav .options li {
    list-style: none;
    padding: 2em;
    align-items: center;
    margin: 1em;
    border-radius: 1.5em;
    height: 6em;
}

nav .options li a {
    text-decoration: none;
    color: #fff;
    display: flex;
}

nav .options .edit-title:hover {
    background-color: transparent;
}

nav .options .edit-option {
    margin-top: 0.5em;
    height: 2em;
    display: flex;
    cursor: pointer;
}

nav .options .edit-option img{
    margin-right: 1em;
}

nav .options .search {
    margin: 0.5em 2em 0 2em;
    width: 80%;
    align-items: center;
    padding: 1em;
    height: 2.5em;
    border: none;
    outline: none;
    border-radius: 2em;
}
nav .options .search-btn {
    margin: 0.5em 0 0 10em;
    width: 30%;
    align-items: center;
    height: 2em;
    border: none;
    outline: none;
    border-radius: 2em;
}

nav .options li a:visited{
    text-decoration: none;
    color: #fff;
}

nav .options li a img {
    padding-right: 1em;
    height: 70%;
}

nav .options li:hover {
    background-color: #77019e;
}

/*Main*/

main {
    background-color: rgba(255,255,255,0.3);
    margin: 1em;
    width: 80%;
    color: #fff;
    font-size: 0.8em;
    height: 100%;
    border-radius: 1em;
}

.title {
    display: grid;
}

.title img {
    width: 90%;
    margin-left: 5em;
}

.title .actualizar{
    border: none;
    outline: none;
    width: 10em;
    height: 2.5em;
    background-color: #bd87c1;
    border-radius: 2em;
    transform: translate(7em,-5em);
    cursor: pointer;
}

.title .actualizar:hover{
    background-color: transparent;
    border-radius: 2em;
    border: 1pt solid #bd87c1;
    color: #fff;
}

/*Bebidas Nuevas*/

.title-new{
    font-size: 2em;
    text-align: center;
    margin: 1em;
    color: #47005e;
}

.new-drinks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #000;
    margin: 1em;
}

.product {
    margin-left: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.product:hover {
    margin: 0.5em;
}

.product figure {
    background-color: #bd87c1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    margin: 0;
}

.product figure img {
    height: 10em;
}

.product .drink-name {
    font-weight: 400;
    margin-top: 1em;
}

.product .price {
    font-weight: 700;
    margin-top: 0.5em;
}

.hide {
    display: none;
}

/*Producto Buscado*/
.product-search {
    position: absolute;
    color: #000;
    margin-top: 8em;
    width: 25%;
    height: 30em;
    background-color: #fff;
    padding: 1.5em;
    margin-right: 2em;
    box-shadow: 0.5em 0.5em 0;
    box-shadow: 0.5em 0.5em 0.25em;
    box-shadow: 0.5em 0.5em 1.5em;
    transform: translate(30em, -60em);
}

.product-search .product-s {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.product-search .product-s figure img{
    width: 80%;
    padding-left: 2em;
}

.product-search .product-s .drink-name-s,
.product-search .product-s .price-s,
.product-search .product-s .ingredients-s {
    font-size: 1rem;
    margin-bottom: 1em;
}


/* ----------------------------------------------------------------------------------------- */
/* Media query para dispositivos de 720x1280px */
@media screen and (max-width: 1130px) {
    body {
        font-size: 0.7em;
        /* Tamaño de fuente reducido */
        flex-wrap: wrap;
        /* Añadido */
        justify-content: center;
        /* Añadido */
    }

    nav {
        width: 100%;
        /* Modificado */
        max-width: 300px;
        /* Añadido */
        height: auto;
        /* Modificado */
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 1em;
    }

    main {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }

    .title img {
        width: 100%;
        /* Imagen ajustada al ancho */
        margin: 0;
        margin-bottom: 1em;
    }

    .title .actualizar {
        transform: none;
        /* Eliminado el desplazamiento */
        margin-bottom: 1em;
    }

    .new-drinks {
        grid-template-columns: repeat(2, 1fr);
        /* Cambio de 4 a 2 columnas */
        grid-gap: 1em;
        /* Espacio entre los elementos */
    }

    .product-search {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 1em;
        transform: none;
    }
}