/* Media query para dispositivos de 720x1280px */
@media screen and (max-width: 1130px) {
    body {
        font-size: 0.7em;
        /* Tamaño de fuente reducido */
        flex-wrap: wrap;
        /* Añadido */
        justify-content: center;
        /* Añadido */
    }

    nav {
        width: 100%;
        /* Modificado */
        max-width: 300px;
        /* Añadido */
        height: auto;
        /* Modificado */
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 1em;
    }

    main {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }

    .title img {
        width: 100%;
        /* Imagen ajustada al ancho */
        margin: 0;
        margin-bottom: 1em;
    }

    .title .actualizar {
        transform: none;
        /* Eliminado el desplazamiento */
        margin-bottom: 1em;
    }

    .new-drinks {
        grid-template-columns: repeat(2, 1fr);
        /* Cambio de 4 a 2 columnas */
        grid-gap: 1em;
        /* Espacio entre los elementos */
    }

    .product-search {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 1em;
        transform: none;
    }
}